</main>

<footer id='footer' class='footer'>
  <div class='container sep-before'>
      <form name="subscribe" method="POST" data-netlify-recaptcha="true" data-netlify="true">
        <input type="email" name="email" placeholder="Enter your email" id="subscribeEmailInput" required>
        <button type=submit>Subscribe</button>
        <div data-netlify-recaptcha="true"></div>
      </form>
    {{- $footerWidgets := .Site.Params.widgets.footer -}}
    {{- partial "extras/widget_area" ( dict "Widgets" $footerWidgets "Scope" . ) -}}
    {{ partial "footer/copyright" . }}
  </div>
</footer>

</div>
</div>

{{- partial "footer/scripts" . -}}

</body>

</html>
