{{ partial "header" . }}

<article class="resume-container">
  <div class="resume-header">
    
    <h1 id="resume-title">
      {{ $.Param "print-title" }}
    </h1>

    <ul class="resume-contact-info">
      <li><a href='mailto:{{ $.Param "email" }}'>{{ $.Param "email" }}</a></li>
      <li class="resume-print-show"><a href='https://{{ $.Param "homepage" }}'>{{ $.Param "homepage" }}</a></li>
      <li>{{ $.Param "location" }}</li>
    </ul>
  </div>

  {{ .Content }}
</article>

{{ partial "resume/footer" . }}
