<figure class="highcharts-figure">
  <div id="topic_votes_container"></div>
</figure>

<script>
  Highcharts.chart("topic_votes_container", {
    chart: {},
    title: {
      text: ""
    },
    credits: {
      enabled: false
    },
    xAxis: {
      categories: [
        "Text Editors",
        "SEO Tools",
        "WordPress",
        "Product Hunt",
        "Investing",
        "Advertising",
        "Windows",
        "Spreadsheets",
        "Growth Hacking",
        "Side Projects"
      ]
    },
    yAxis: [
      {
        // Primary yAxis
        title: {
          text: "Votes Mean",
          style: {
            color: Highcharts.getOptions().colors[1]
          }
        }
      },
      {
        // Secondary yAxis
        title: {
          text: "Count",
          style: {
            color: Highcharts.getOptions().colors[0]
          }
        },
        labels: {
          style: {
            color: Highcharts.getOptions().colors[0]
          }
        },
        opposite: true
      }
    ],
    series: [
      {
        name: "Count",
        type: "column",
        yAxis: 1,
        data: [11, 29, 19, 14, 31, 21, 25, 22, 61, 12]
      },
      {
        name: "Votes Mean",
        type: "spline",
        data: [
          1117.8,
          1087.1,
          1006.1,
          902.6,
          881.2,
          880.5,
          876.2,
          859.1,
          853.5,
          848.8
        ]
      },
      {
        name: "Votes Std",
        type: "errorbar",
        data: [
          [-382.39, 2618.03],
          [28.33, 2145.94],
          [-159.82, 2171.92],
          [218.7, 1586.59],
          [331.46, 1430.92],
          [281.77, 1479.28],
          [-171.56, 1923.88],
          [453.26, 1264.92],
          [62, 1645.05],
          [186.41, 1511.09]
        ]
      }
    ]
  });
</script>
