<figure class="highcharts-figure">
  <div id="topic_votes_container"></div>
</figure>

<script>
  Highcharts.chart("topic_votes_container", {
    chart: {
      type: "bar"
    },
    title: {
      text: ""
    },
    xAxis: {
      categories: [
        "Product Hunt",
        "Spreadsheets",
        "Investing",
        "Advertising",
        "Growth Hacking",
        "Windows",
        "Firefox Extensions",
        "Design Tools",
        "Startup Lessons",
        "Funny"
      ],
      title: {
        text: null
      }
    },
    credits: {
      enabled: false
    },
    series: [
      {
        name: "Count",
        data: [14, 22, 31, 21, 61, 25, 16, 377, 21, 13]
      },
      {
        name: "Votes Mean",
        data: [
          902.6,
          859.1,
          881.2,
          880.5,
          853.5,
          876.2,
          811.1,
          814.5,
          833.4,
          824.2
        ]
      },
      {
        name: "Votes Std",
        data: [
          683.9,
          405.8,
          549.7,
          598.8,
          791.5,
          1047.7,
          477.1,
          555.1,
          569.8,
          584.2
        ]
      }
    ]
  });
</script>
