<figure class="highcharts-figure">
  <div id="topic_votes_std_container"></div>
</figure>

<script>
  Highcharts.chart("topic_votes_std_container", {
    chart: {
      type: "bar"
    },
    title: {
      text: ""
    },
    xAxis: {
      categories: [
        "Time Tracking",
        "Learn a Language",
        "Meditation",
        "Hiring and Recruiting",
        "GitHub",
        "Fashion",
        "Payment",
        "Books",
        "Maps",
        "Video Streaming"
      ],
      title: {
        text: null
      }
    },
    credits: {
      enabled: false
    },
    series: [
      {
        name: "Count",
        data: [10, 11, 10, 39, 41, 10, 27, 54, 10, 18]
      },
      {
        name: "Votes Mean",
        data: [
          511.9,
          649.1,
          533.3,
          572.7,
          613.9,
          520.2,
          611.0,
          566.6,
          564.8,
          663.3
        ]
      },
      {
        name: "Votes Std",
        data: [
          150.4,
          181.4,
          184.7,
          207.4,
          218.1,
          238.3,
          239.6,
          240.1,
          246.7,
          247.4
        ]
      }
    ]
  });
</script>
